body {
  font-family: sans-serif;
}
.container {
  width: 95%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hex-colors {
  text-align: center;
}
.hex-colors h1 {
  font-size: 2rem;
  text-transform: uppercase;
  animation: colorchange 5s infinite alternate;
}
.hex-colors h2 {
  font-size: 2rem;
  margin-top: 15%;
}
@keyframes colorchange {
  0% {
    color: indigo;
  }
  20% {
    color: blue;
  }
  40% {
    color: green;
  }
  60% {
    color: yellow;
  }
  80% {
    color: orange;
  }
  100% {
    color: red;
  }
}
button {
  background-color: #0276ff;
  color: #fff;
  border: none;
  padding: 10px 22px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

/* Responsibe design */

@media (max-width: 480px) {
  .hex-colors h1 {
    font-size: 1.5rem;
  }
  .hex-colors h2 {
    font-size: 1.5rem;
  }
}
