body {
  font-family: sans-serif;
  overflow: hidden;
  background: conic-gradient(from 90deg at bottom right, cyan, rebeccapurple);
  color: #fff;
}
.container {
  width: 95%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.digitalClock {
  width: fit-content;
  margin: auto;
  padding: 10px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.digitalClock h1 {
  display: inline-block;
  margin: 0 10px;
  font-weight: bold;
  font-size: 5rem;
}

/* responsibe design */
@media (max-width: 768px) {
  #bar1,
  #bar2 {
    display: none;
  }
  .digitalClock {
    text-align: center;
    width: 100%;
  }
  .digitalClock h1 {
    display: block;
  }
}

@media (max-width: 480px) {
  .digitalClock h1 {
    font-size: 4rem;
  }
}
