body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  padding: 20px;
  font-size: 22px;
  background-color: #000;
  color: #00ffff;
  text-shadow: 0 0 10px #00ffff;
}
span {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
