.container {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}
h3 {
  font-size: 26px;
}
button {
  font-size: 22px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
